@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

header  {
    background-color: #afffab;
    text-align: center;
    min-height: 150px;
    margin: auto;
    line-height: 150px;
}

main {
    text-align: center;
}

main table {
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;  
}

main td, th {
    border: 2px solid black;
    padding: 10px;
}

main #title {
    font-size: 50p;
}

input {
    margin-top: 50px;
    padding: 20px;
}

#links {
    background-color: aquamarine;
    padding: 10px;
}

#links a {
    padding: 5px;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

#links a:hover{
    color: #009463;
    transition: 0.2s;
}

#links #current {
    font-weight: bold;
    text-decoration: solid underline purple 4px
}