@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

header  {
    background-color: #a6e0bd;
    text-align: center;
    min-height: 150px;
    margin: auto;
    line-height: 150px;
}

body {
    background-image: url('img/bg.svg');
    background-size: cover;
    position: relative;	
}

body::before {
    content: "";
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    filter: blur(10px); /* Apply the blur effect to the background image */
    z-index: -1;
}	

main {
    text-align: center;
}

main table {
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;  
    background-color: white;
    border-radius: 20px;
    box-shadow: 13px 12px 81px 6px rgba(0,0,0,0.75);

}

main td, th {
    padding: 10px;
}

table th:first-child{
  border-radius: 10px 0 0 0;
}

table th:last-child{
  border-radius:0 10px 0 0;
}

main th {
    background-color: darkcyan;
    color: white;
}

main tr:nth-child(even) {background-color: lightgray;}

main #title {
    font-size: 50p;
}

input {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}

#links {
    background-color: #9ad8e6;
    padding: 10px;
}

#links a {
    display: inline-block; /* Change to inline-block */
    padding: 10px 20px;
    background-color: #25b96f; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none; /* Remove text underline */
    font-size: 20px;
    margin-right: 10px; /* Add some spacing between buttons */
}

#links a:hover {
    background-color: #069c50; /* Button background color on hover */
    color: #ffffff; /* Button text color on hover */
    transition: 0.2s;
}
#links #current {
    font-weight: bold;
    
}

main table td img {
    height: 150px;
    width: 150px;
}

#button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #26baee;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Animation styles for the button when clicked */
#button:active {
  animation: shine 0.5s;
}

/* Keyframes animation for the shine effect */
@keyframes shine {
  0% {
    background-color: #9fe8fa;
    transform: scale(1);
  }

  50% {
    background-color: #9fe8fa;
    transform: scale(1.1);
  }

  100% {
    background-color: #9fe8fa;
    transform: scale(1);
  }
}

.textbox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 10px 10px 157px -25px rgba(0,0,0,0.75);
}
